<!--

Copyright 2017 Hadi Esiely

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice,
this list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its
contributors may be used to endorse or promote products derived from this
software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

-->

{% extends "base.html" %}
{% block title %}HoloNet{% endblock %}
{% block content %}
<img src="static/pr-holonet.png" class="logo-float-right">
<h1 class='title'>Puerto Rico<br>HoloNet</h1>

<br clear='both'>

<h2>System health</h2>

<p>Signal strength: {{ signal }}.</p>
<p><a href="/system">System settings</a></p>

{% if pending %}
<h2>Unread messages</h2>
{% for sender in pending %}
<p><a href="/thread/{{ sender }}">{{ pending_printable[sender] }}</a></p>
{% endfor %}
{% endif %}

{% if outbox %}
<h2>Messages not yet sent</h2>
{% for msg in outbox %}
<p><code>{{ msg.timestamp }} &rarr; </code>{{ msg.recipient_printable }}:
{{ msg.body }}</p>
{% endfor %}
{% endif %}

{% if recipients %}
<h2>Threads</h2>
{% for recip in recipients %}
<p><a href="/thread/{{ recip }}">{{ recipients_printable[recip] }}</a></p>
{% endfor %}
{% endif %}

<h2>Send message</h2>
<form action="/send_message" method="post">
<table border="0">
<tr>
<td>Recipient:</td><td><input name="recipient" type="text"><td>
</tr>
<tr>
<td>Message:</td><td>
<textarea name="body" rows="4" cols="50">
</textarea>
</td>
</tr>
<td>&nbsp;</td>
<td><input type="submit" value="Send"></td>
</tr>
</table>
</form>

<h2>Refresh</h2>
<form action="/send_receive" method="post">
<p>Send and receive messages now: <input type="submit" value="Refresh"></p>
</form>
{% endblock %}
