{% extends "base.html" %}
{% block title %}System settings{% endblock %}
{% block content %}
<img src="static/pr-holonet.png" class="logo-float-right">
<p><a href="/">Back to main menu</a></p>
<h1>System settings</h1>

<h2>System health</h2>

<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading">Wi-Fi connection</div>
<div class="panel-body">
<table class="table table-hover">
<tbody>
<tr><td>Wi-Fi MAC address</td><td>{{ wlan_mac }}</tr>
<tr><td>Wi-Fi IP address</td><td>{{ wlan_ip_addr }}</tr>
<tr><td>Network name</td><td>{{ essid }}</tr>
<tr><td>Network mode</td><td>{{ network_mode }}</tr>
</tbody>
</table>
</div><!-- panel-body -->
</div><!-- panel -->
</div><!-- col -->

<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading">Satellite connection</div>
<div class="panel-body">
<table class="table table-hover">
<tbody>
<tr><td>RockBLOCK status</td><td>{{ rockblock_status }}</tr>
<tr><td>RockBLOCK serial number</td><td>{{ rockblock_serial }}</tr>
<tr><td>Signal strength</td><td>{{ signal }} ({{ signal * 20 }}%)</td></tr>
</tbody>
</table>
</div><!-- panel-body -->
</div><!-- panel -->
</div><!-- col -->

<br clear='both'>

<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading">Wi-Fi access point</div>
<div class="panel-body">
<form action="/system_configure" method="post">
<table class="table table-hover">
<tbody>
<tr><td>AP enabled:</td><td><input name='ap_enabled' value='true'
    type='checkbox' {% if ap_enabled %}checked='checked'{% endif %}></tr>
<tr><td>Network name</td><td><input name='ap_name' type='text'
                                    value='{{ ap_name }}'></tr>
<tr><td>Network password</td><td><input name='ap_password' type='text'
                                        value='{{ ap_password }}'></tr>
</tbody>
</table>

<div class="col-md-5">
</div><!-- col -->
<div class="col-md-1">
<input type="submit" value="Save AP settings">
</div><!-- col -->

</form>

</div><!-- panel-body -->
</div><!-- panel -->
</div><!-- col -->

<br clear='both'>

<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading">Wi-Fi network passwords</div>
<div class="panel-body">
<table class="table table-hover">
<thead>
<tr><th>Network name</th><th>Network password</th>
<th>&nbsp;</th><th>&nbsp;</th></tr>
</thead>
<tbody>
{% for ssid, props in wpa_props.items() %}
<form action="/network_configure" method="post">
<input name='ssid' type='hidden' value='{{ ssid }}'>
<tr>
<td>{{ ssid }}</td>
<td><input name='psk' type='text' value='{{ props['psk'] }}'></td>
<td><input name='action' type='submit' value='Save'></td>
<td><input name='action' type='submit' value='Delete'></td>
</tr>
</form>
{% endfor %}
<form action="/network_configure" method="post">
<tr>
<td><input name='ssid' type='text' value=''></td>
<td><input name='psk' type='text' value=''></td>
<td><input name='action' type='submit' value='Add'></td>
<td>&nbsp;</td>
</tr>
</form>
</tbody>
</table>
</div><!-- panel-body -->
</div><!-- panel -->
</div><!-- col -->

{% endblock %}
