<!--

Copyright 2017 Ewan Mellor

Changes authored by Hadi Esiely:
Copyright 2018 The Johns Hopkins University Applied Physics Laboratory LLC.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice,
this list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its
contributors may be used to endorse or promote products derived from this
software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

-->

{% extends "base.html" %}
{% block title %}HoloNet test{% endblock %}
{% block content %}
<h1>Messages in outbox</h1>
{% for msg in outbox %}
<p><a href="/test/{{ msg.filename }}">{{ msg.filename }}</a>: {{ msg.timestamp }} {{ msg.local_user }} &rarr; {{ msg.recipient }}: {{ msg.body }}</p>
{% endfor %}

<h1>Messages in inbox</h1>
{% for msg in inbox %}
<p><a href="/test/{{ msg.filename }}">{{ msg.filename }}</a>: {{ msg.data }}</p>
{% endfor %}

<h1>Threads</h1>
{% for recip in recipients %}
<p><a href="/thread/{{ recip }}">{{ recip }}</a></p>
{% endfor %}

<h1>Send message</h1>
<form action="/send_message" method="post">
Recipient: <input name="recipient" type="text">
<br>
<br>
<textarea name="body" rows="4" cols="50">
</textarea>
<input type="submit" value="Send">
</form>

<h1>Send / receive</h1>
<form action="/send_receive" method="post">
<input type="submit" value="Sync">
</form>
{% endblock %}
